.home-container {
  background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    background-image: url('AAAimg.jpg');
  }
  
  .home-heading {
    font-size: 3rem;
    color: rgb(5, 5, 185);
    margin-bottom: 20px;
  }
  
  
  
  .home-button {
    background-color: #055ab5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* Optional: Makes button align nicely */
  }
  
  .home-button:hover {
    background-color: #2b91ff;
    color: rgb(0, 0, 0);
  }
  